# Importando as bibliotecas...

In [10]:
import pandas as pd
from __future__ import division 

import Solucao_de_sistemas_lineares.solucao_de_sistemas_lineares as sl

# Capítulo 4 - Solução de sistemas lineares

In [11]:
dataf = pd.DataFrame(sl.gerarMatriz(10, 1))

dataf

    0  1  2   3  4   5  6   7  8  9
0   8  3  1   7  6   0  0  10  0  5
1   0  1  4   0  9   6  7   1  0  7
2  10  4  0   4  0   0  6   8  2  1
3   6  0  5   2  0   0  0  10  0  0
4   7  9  2   8  4  10  0   0  8  0
5   4  0  2  10  1   0  6   3  3  0
6   6  0  0  10  8   0  4   1  0  5
7   0  4  6   3  5  10  2   0  0  1
8   4  2  8   3  2   0  9   0  4  0
9   0  9  0   0  9   7  0   8  1  0

### Atividade 4

* Implemente todas as técnicas de solução de sistemas
lineares vistas em aula e faça uma comparação entre elas
para as seguintes situações:
    * n = [10,1000,2000,3000, … , 20000]
    * Sistemas esparsos (contém muitos zeros na matriz A) e sistemas densos (nenhum zero na matriz A)
    

* Gere sistemas lineares aleatórios que atendam essas
condições

* Mostre um gráfico para o tempo de execução e um com o
número de iterações
    * As linhas devem ser os algoritmos
    * Um gráfico para sistemas esparsos e outro para os densos

### Eliminação Gaussiana (escalonamento)
* método para resolver sistemas lineares
* consiste em manipular o sistema através de determinadas operações elementares, transformando a matriz estendida do sistema em uma matriz triangular (chamada de matriz escalonada do sistema)

In [12]:
#eliminação gaussiana com pivoteamento parcial:

#1. definindo a matriz que irei trabalhar

data = [[1,1,1,0],[0,1,10,-48],[1,10,1,25]]

#2. executando o algoritmo de pivoteamento até conseguir um triangulo superior

dataf, iteracao, resposta=sl.eliminacaoGaussianaParcial(data=data)
print("Data:\n {}\n\nIteracao:{}\n\nResultado:{}\n ".format(dataf, iteracao, resposta))

Data:
      0    1     2        3
0  1.0  1.0   1.0   0.0000
1  0.0  9.0   0.0  25.0000
2  0.0  0.0  10.0 -50.7778

Iteracao:2

Resultado:[-5.07778, 2.7777777777777777, 2.300002222222222]

In [13]:
#eliminação gaussiana:

#1. definindo a matriz que irei trabalhar

data = [[1,1,1,1],[4,4,2,2],[2,1,-1,0]]

#2. executando o algoritmo de pivoteamento até conseguir um triangulo superior

dataf, iteracao, resposta = sl.eliminacaoGaussiana(data)
print("Data:\n {}\n\nIteracao:{}\n\nResultado:{}\n ".format(dataf, iteracao, resposta))

Data:
      0    1    2    3
0  1.0  1.0  1.0  1.0
1  0.0 -1.0 -3.0 -2.0
2  0.0  0.0 -2.0 -2.0

Iteracao:1

Resultado:[1.0, -1.0, 1.0]

### Decomposição LU (Lower Upper)

In [14]:


data = [[1,1,1],[2,1,-1],[2,-1,1]]
b = [-2, 1, 3]


y, x, L, U = sl.solucaoLU(data, b)

print(L,"\n\n", y,"\n\n")
print(U,"\n\n",x)

     0    1  2  3
0  1.0  0.0  0 -2
1  2.0  1.0  0  1
2  2.0  3.0  1  3

 [-2.0, 5.0, -8.0]


   0    1    2    3
0  1  1.0  1.0 -2.0
1  0 -1.0 -3.0  5.0
2  0  0.0  8.0 -8.0

 [-1.0, -2.0, 1.0]

#### Matriz inversa de A
* Um método para obter a matriz A^(-1) é realizar o escalonamento da matriz [A|I] onde I é a matriz identidade. Ao terminar o escalonamento, o bloco do lado direito conterá A^(-1)

### Método de Jacobi

* O método de Jacobi é uma simplicação do algorítmo de valores próprios de Jacobi, sendo ele formulado pelo matemático alemão Carl Gustav Jakob Jacobi no final do século XVIII.
* Para resolução de sistemas lineares com poucas dimensões, dificilmente usa-se métodos iterativos, uma vez que eles levam maior tempo para obter uma aproximação do real valor se comparados com os métódos diretos, como por exemplo a eliminação gaussiana.

* Entretanto, para sistemas grandes, como os que encontramos ao fazermos a análise de determinados circuitos ou na resolução de equações diferenciais parciais, essas técnicas iterativas tornam-se mais eficientes.

In [15]:
data = [[10,2,1,7],[1,5,1,-8],[2, 3, 10, 6]]
chute = [0.7, -1.6, 0.6]

dataf = pd.DataFrame(sl.metodoJacobiano(data, chute))

dataf

[ 0.96 -1.86  0.94]
Erro relativo: 0.18279569892473116

     0    1    2    3
0  0.0 -0.2 -0.1  0.7
1 -0.2  0.0 -0.2 -1.6
2 -0.2 -0.3  0.0  0.6

### Método de Gauss-Seidel

In [16]:
data = [[5,1,1,5],[3,4,1,6],[3,3,6,0]]
chute = [0,0,0]


dataf = pd.DataFrame(sl.metodoGaussSeidel(data, chute))

dataf

[1.0, 0.75, -0.875]
Erro relativo: 1.0

      0    1     2    3
0  0.00 -0.2 -0.20  1.0
1 -0.75  0.0 -0.25  1.5
2 -0.50 -0.5  0.00  0.0